@import 'headerfooter.css';
@import 'fonts.css';

body {
    background-color: #97CADB;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

p, h2, h1 {
    font-family: 'Josefin Sans', sans-serif;
}

